@if (memberService.member(); as member) {
<div class="flex flex-col gap-3">
    <div class="flex gap-3">
        <span class="font-semibold">{{ 'profile.memberSince' | translate }}:</span>
        <span>{{member.created | date: 'longDate'}}</span>
    </div>
    <div class="flex gap-3">
        <span class="font-semibold">{{ 'profile.lastActive' | translate }}:</span>
        <span>{{member.lastActive | timeAgo }}</span>
    </div>
    <h3 class="text-lg font-semibold text-primary">{{ 'profile.about' | translate }} {{member.displayName}}</h3>
    @if (memberService.editMode()) {
    <form #editForm="ngForm" (ngSubmit)="updateProfile()" class="flex flex-col w-full gap-4">
        <label class="floating-label">
            <span>{{ 'profile.displayName' | translate }}</span>
            <input 
                class="input w-full"
                name="displayName" 
                [(ngModel)]="editableMember.displayName" 
                [placeholder]="'profile.displayName' | translate">
        </label>
        <label class="floating-label">
            <span>{{ 'profile.description' | translate }}</span>
            <textarea 
                class="textarea w-full"
                name="description" 
                [(ngModel)]="editableMember.description" 
                [placeholder]="'common.description' | translate"></textarea>
        </label>
        <label class="floating-label">
            <span>{{ 'profile.city' | translate }}</span>
            <input 
                class="input w-full"
                name="city" 
                [(ngModel)]="editableMember.city" 
                [placeholder]="'common.city' | translate">
        </label>
        <label class="floating-label">
            <span>{{ 'profile.country' | translate }}</span>
            <input 
                class="input w-full"
                name="country" 
                [(ngModel)]="editableMember.country" 
                [placeholder]="'common.country' | translate">
        </label>
        <div class="flex self-end">
            <button [disabled]="!editForm.dirty" type="submit" class="btn btn-success">{{ 'profile.submit' | translate }}</button>
        </div>
    </form>
    } @else {
    <div>{{member.description || 'No description provided yet'}}</div>
    }

</div>
}